/* we are not gonna treat HEADER as a component. because, In Multi-Pages website there will be Header for everyPage. So, it is a Layout*/
.header {
  height: 85vh;
  /*frontside we need gradientcolor with opacity0.8, backside we need backgroundimg*/
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero-small.jpg); /*go back from css,then go to img,pick image*/
  background-size: cover;
  background-position: top; /*bg-image stays topofcontainer always fixed(wont crop)*/

  position: relative; /*parentEl of logobox*/
  /*if browser supports then below blockofcode gets applies*/
  @supports (clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)) or
    (-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)) {
    /*block of code*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  /* ***OPTIMIZATION***use Big-resolution-image if DPI is 2x  Retinal display, else use above default smallres-image*/
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and(-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and(min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero.jpg);
  }

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  &__logo-box {
    /* '&' means '.header' */
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem; /*height value is enough. browser will calculate WIDTH automatic*/
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;

    /*perfect positioning textbox*/
    transform: translate(-50%, -50%); /*x,y*/
    text-align: center;
  }
}
