.card {
  //FUNCTIONALITY
  perspective: 150rem; /*perspective view distance towards user*/
  -moz-perspective: 150rem;
  position: relative; /*parentEl*/
  height: 52rem; /*fixing height-lostIssue due to absolute-positioning*/

  &__side {
    /* .card__side */
    height: 52rem;
    transition: all 0.8s ease; /*hover effect*/
    position: absolute; /*childEl*/
    top: 0;
    left: 0;
    width: 100%; /*fixing Element fitonwidth problem caused due to absolutePosition*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; /*backside of card is hidden*/
    border-radius: 3px;
    overflow: hidden; /*cardimage is overlapping and borderradiusCurves is not being seen. fixed*/
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      /* .card__side--front */
      background-color: $color-white;
    }
    &--back {
      /* .card__side--back */
      transform: rotateY(180deg);

      &-1 {
        /* .card__side--back-1 */
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        /* .card__side--back-2 */
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
      &-3 {
        /* .card__side--back-3 */
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    /* .card:hover .card__side--front => when we hover on card, belowProperties applies to FrontSideofCard */
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    /* .card:hover .card__side--back  => when we hover on card, belowProperties applies to BackSideofCard */
    transform: rotateY(0);
  }

  /*FRONT SIDE STYLING */
  &__picture {
    // .card__picture
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen; /*blend-mode means MIXING imagelayer and bgcolorlayer*/
    -webkit-clip-path: polygon(
      0 0,
      100% 0,
      100% 85%,
      0 100%
    ); /*for other browsers support*/
    clip-path: polygon(
      0 0,
      100% 0,
      100% 85%,
      0 100%
    ); /*cuts backgroundimage into custom sizes*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    &--1 {
      // .card__picture--1
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }
    &--2 {
      // .card__picture--2
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }
    &--3 {
      // .card__picture--3
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
  }
  &__heading {
    /* .card__heading */
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;

    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }
  &__heading-span {
    /* .card__heading-span */
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; /*all browsers support*/
    box-decoration-break: clone; /*box properties apply to each fragment(also multiplelines)*/
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }
  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          /* except last ListItem, apply below property to allItems*/
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }
  /*BACK SIDE STYLING */
  &__cta {
    //  .card__cta
    position: absolute; /*center align*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*perfect center align*/
    width: 90%;
    text-align: center;
  }
  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }
  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  /* *************************************** */
  // Tablet-portrait MediaQuery
  //@include respond(tab-port)
  /*Ipad devices won't have  hovereffect since no cursor, so we have show flipping cards all-content in front-side
    'only screen and hover:none' means non-hoverable devices
  */
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    //FUNCTIONALITY
    height: auto; /*fixing height-lostIssue due to absolute-positioning*/
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      /* .card__side */
      height: auto;
      position: relative; /*childEl*/
      box-shadow: none;

      &--back {
        /* .card__side--back */
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      /* .card:hover .card__side--front => when we hover on card, belowProperties applies to FrontSideofCard */
      transform: rotateY(0);
    }

    &__details {
      /*.card__details*/
      padding: 1rem 3rem;
    }
    /*FRONT SIDE STYLING */
    /*BACK SIDE STYLING */
    &__cta {
      //  .card__cta
      position: relative; /*center align*/
      top: 0;
      left: 0;
      transform: translate(0); /*perfect center align*/
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }
    &__price-box {
      margin-bottom: 3rem;
    }
    &__price-value {
      font-size: 4rem;
    }
  }
}
